            body {
                margin: 0 0%;
                color: brown;
                background-color: burlywood;
                }
            header {
                background-color: floralwhite;
                text-align: center;
            }
            h1 {
                font: 400 3.927rem "Henny Penny";
                text-transform: uppercase; 
                letter-spacing: 5px;
                margin: 0;
                }
            nav {
                background-color: tan;
                text-align: center;
                padding: 12px;
                margin-bottom: 72px; 
            }
            li {
                list-style-type: none;
                display: inline;
            }
            a {
                text-decoration: none;
                color: brown;
            }
            .navig {
                border-radius: 30px;
                padding: 12px;
                margin: 0 30px;
                background-color: bisque;
                font: 400 2.427rem "Henny Penny";
                color: brown
            }
            .navig:hover {
                background-color: brown;
                color: bisque;
            }
            h2 {
                border-radius: 30px;
                padding: 24px;
                text-align: center;
                margin-left: 15%;
                margin-right: 45%;
                background-color: bisque;
                font: 400 1.5rem "Unkempt";
            }
            img {
                float: right;
                outline: 5px solid brown;
                margin-right: 15%;
            }
            footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 12px;
                background-color: floralwhite;
                text-align: center;
            }
            p {
                font: 400 .927rem sans-serif;
            }