        body {
            margin: 0;
            font: 1.25rem/1.75rem sans-serif;
            color: floralwhite;
            background-color: rgb(47, 79, 69);
            margin-bottom: 40px;
            }
        header {
            background-color: floralwhite;
            text-align: center;
            padding: 12px;
            margin-bottom: 72px;
            }
        section {
            margin: 0 10%;
            margin-bottom: 40px;
            }
        hr {
            margin: 0 10%;
            }
        h1 {
            color: darkslategray;
            font: bold 3.927rem times, serif;
            text-transform: uppercase; 
            letter-spacing: 5px;
            margin: 0;
            }
        h2 {
            color: rgb(123, 230, 148);
            font: bold 2.427rem sans-serif;
            text-align: center;
            }
        p {
            text-align: center;
            font-size: 1.50rem;
            }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 1.50rem;
            }
        .link {
            display: inline-block;
            margin: 0 15px;
            }
        .Sample {
            display: inline-block;
            margin: 0 15px;
            }
        img {
        display: block;     
        margin-left: auto;
        margin-right: auto;
            }